<?xml version="1.0"?>
<robot name="plataforma" static="1">

  <gazebo reference="">
    <static>True</static>
    <selfCollide>False</selfCollide>
  </gazebo>

  <link name="my_box">
    <inertial>
      <origin xyz="0 0 0.5"/> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0.5" rpy="0.2618 0 0"/> <!-- A 15º -->
      <geometry>
        <box size="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.5"/>
      <geometry>
        <box size="1 1 1" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="my_box">
    <material>Gazebo/Blue</material>
  </gazebo>
</robot>
